@import "tailwindcss";

@theme {
  --color-gray-50: rgba(0, 0, 0, 0.7);
  --color-teal-300: #8abebd;
  --color-teal-500: #488284;
  --color-teal-600: #37676a;
  
  --color-purple: {
    200: "#d9ddee",
    500: "#9492db",
    600: "#7164c0",
  }
}